{% set counters = __SELF__.counters %}

<div class="container">
    <div class="row text-center">
        {% if counters.first.value %}
            <div class="col">
                <div class="counter">
                    {% if counters.first.icon %}
                        <i class="{{ counters.first.icon }}"></i>
                    {% endif %}
                    <h2 class="timer count-title count-number" data-to="{{ counters.first.value }}"></h2>
                    <p class="count-text">{{ counters.first.title }}</p>
                </div>
            </div>
        {% endif %}
        {% if counters.second.value %}
            <div class="col">
                <div class="counter">
                    {% if counters.second.icon %}
                        <i class="{{ counters.second.icon }}"></i>
                    {% endif %}
                    <h2 class="timer count-title count-number" data-to="{{ counters.second.value }}"></h2>
                    <p class="count-text">{{ counters.second.title }}</p>
                </div>
            </div>
        {% endif %}
        {% if counters.third.value %}
            <div class="col">
                <div class="counter">
                    {% if counters.third.icon %}
                        <i class="{{ counters.third.icon }}"></i>
                    {% endif %}
                    <h2 class="timer count-title count-number" data-to="{{ counters.third.value }}"></h2>
                    <p class="count-text">{{ counters.third.title }}</p>
                </div>
            </div>
        {% endif %}
        {% if counters.fourth.value %}
            <div class="col">
                <div class="counter">
                    {% if counters.fourth.icon %}
                        <i class="{{ counters.fourth.icon }}"></i>
                    {% endif %}
                    <h2 class="timer count-title count-number" data-to="{{ counters.fourth.value }}"></h2>
                    <p class="count-text">{{ counters.fourth.title }}</p>
                </div>
            </div>
        {% endif %}
    </div>
</div>