{% set group = __SELF__.feature %}

{% for feature in group.items %}
    <div class="row">
        <div class="col-lg-6">
            <h2>{{ feature.title }}</h2>
            {{ feature.content|raw }}
        </div>
        <div class="col-lg-6">
            {% if feature.picture %}
                <img class="img-fluid rounded fr-fic fr-dii" src="{{ feature.picture|media|resize('700x400.crop') }}" alt="{{ feature.title }}">
            {% endif %}
        </div>
    </div>

    <hr>

    <div class="row mb-4">
        <div class="col-md-8">
            <p>{{ feature.subtitle }}</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-secondary btn-block" href="{{ feature.link }}">{{ feature.link_title }}</a>
        </div>
    </div>
{% endfor %}
