{% set group = __SELF__.group %}

<h2>{{ group.title }}</h2>

<div class="row">
    {% for item in group.items %}
        <div class="col-lg-4 col-sm-6 portfolio-item portfolio-item-{{ loop.index0 }}">
            <div class="card h-100">
                {% if item.picture %}
                    <a href="{{ item.link }}">
                        <img class="card-img-top fr-fic fr-dii" src="{{ item.picture|media|resize('700x400.crop') }}" alt="{{ item.link_title }}">
                    </a>
                {% endif %}
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="{{ item.link }}">{{ item.title }}</a>
                    </h4>
                    <p class="card-text">{{ item.content|striptags }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
