{% set group = __SELF__.highlight %}

{% for item in group.items %}
    <div class="row">
        <div class="col-lg-6">
            <h2>{{ item.title }}</h2>
            {{ item.content|raw }}
        </div>
        <div class="col-lg-6">
            {% if item.picture %}
                <img class="img-fluid rounded fr-fic fr-dii" src="{{ item.picture|media|resize('700x400.crop') }}" alt="{{ item.title }}">
            {% endif %}
        </div>
    </div>

    <hr>

    <div class="row mb-4">
        <div class="col-md-8">
            <p>{{ item.subtitle }}</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-secondary btn-block" href="{{ item.link }}">{{ item.link_title }}</a>
        </div>
    </div>
{% endfor %}
